@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Lora", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
